In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
train=pd.read_csv("/content/train+target.csv")

In [ ]:
train.drop(["Unnamed: 0"],axis=1,inplace=True)

In [ ]:
train

       Patient_ID  Health_Camp_ID Registration_Date  ...  Var4  Var5  outcome
0          489652            6578         10-Sep-05  ...     0     2      1.0
1          507246            6578         18-Aug-05  ...     0     7      0.0
2          523729            6534         29-Apr-06  ...     0     0      1.0
3          524931            6535         07-Feb-04  ...     0     0      0.0
4          521364            6529         28-Feb-06  ...     0     7      1.0
...           ...             ...               ...  ...   ...   ...      ...
75273      500969            6539         03-Jan-05  ...     0     0      0.0
75274      511952            6528         13-Feb-06  ...     0     0      1.0
75275      521236            6554         24-May-05  ...     0     0      1.0
75276      518817            6580         22-Dec-04  ...     0     0      0.0
75277      511284            6555         08-Aug-05  ...     0     0      0.0

[75278 rows x 9 columns]

In [ ]:
camp=pd.read_csv("/content/Health_Camp_Detail.csv")

In [ ]:
camp

    Health_Camp_ID Camp_Start_Date Camp_End_Date Category1 Category2  Category3
0             6560       16-Aug-03     20-Aug-03     First         B          2
1             6530       16-Aug-03     28-Oct-03     First         C          2
2             6544       03-Nov-03     15-Nov-03     First         F          1
3             6585       22-Nov-03     05-Dec-03     First         E          2
4             6561       30-Nov-03     18-Dec-03     First         E          1
..             ...             ...           ...       ...       ...        ...
60            6556       09-Nov-06     15-Dec-06     First         E          2
61            6551       13-Nov-06     18-Nov-06    Second         D          2
62            6559       11-Dec-06     12-Mar-07     First         F          2
63            6567       30-Jan-07     04-Feb-07    Second         D          2
64            6577       30-Jan-07     08-Mar-07     Third         G          2

[65 rows x 6 columns]

In [ ]:
patient=pd.read_csv("/content/Patient_Profile.csv")

In [ ]:
patient

       Patient_ID  Online_Follower  ...  City_Type  Employer_Category
0          516956                0  ...        NaN  Software Industry
1          507733                0  ...          H  Software Industry
2          508307                0  ...          D               BFSI
3          512612                0  ...          D          Education
4          521075                0  ...          H             Others
...           ...              ...  ...        ...                ...
37628      518600                0  ...        NaN                NaN
37629      509515                0  ...        NaN                NaN
37630      510713                0  ...          H                NaN
37631      493667                0  ...        NaN                NaN
37632      498051                0  ...        NaN                NaN

[37633 rows x 11 columns]

In [ ]:
patient.replace("None",np.nan)

       Patient_ID  Online_Follower  ...  City_Type  Employer_Category
0          516956                0  ...        NaN  Software Industry
1          507733                0  ...          H  Software Industry
2          508307                0  ...          D               BFSI
3          512612                0  ...          D          Education
4          521075                0  ...          H             Others
...           ...              ...  ...        ...                ...
37628      518600                0  ...        NaN                NaN
37629      509515                0  ...        NaN                NaN
37630      510713                0  ...          H                NaN
37631      493667                0  ...        NaN                NaN
37632      498051                0  ...        NaN                NaN

[37633 rows x 11 columns]

In [ ]:
train1=(pd.merge(train,camp, on='Health_Camp_ID'))

In [ ]:
train2=pd.merge(train1,patient,on="Patient_ID")

In [ ]:
train2.replace("None",np.nan,inplace=True)

In [ ]:
train2

       Patient_ID  Health_Camp_ID  ... City_Type  Employer_Category
0          489652            6578  ...       NaN                NaN
1          489652            6570  ...       NaN                NaN
2          489652            6527  ...       NaN                NaN
3          489652            6539  ...       NaN                NaN
4          489652            6543  ...       NaN                NaN
...           ...             ...  ...       ...                ...
75273      511571            6565  ...         B                NaN
75274      489634            6565  ...         I                NaN
75275      497277            6565  ...         D                NaN
75276      492146            6565  ...       NaN                NaN
75277      487071            6565  ...       NaN                NaN

[75278 rows x 24 columns]

In [ ]:
(train2.isnull().sum()/len(train2))*100

Patient_ID           0.000000
Health_Camp_ID       0.000000
Registration_Date    0.443689
Var1                 0.000000
Var2                 0.000000
Var3                 0.000000
Var4                 0.000000
Var5                 0.000000
outcome              0.000000
Camp_Start_Date      0.000000
Camp_End_Date        0.000000
Category1            0.000000
Category2            0.000000
Category3            0.000000
Online_Follower      0.000000
LinkedIn_Shared      0.000000
Twitter_Shared       0.000000
Facebook_Shared      0.000000
First_Interaction    0.000000
dtype: float64

# TRAIN

In [ ]:
train2.drop(["Income","Education_Score","Age","Employer_Category","City_Type"],axis=1,inplace=True)

In [ ]:
train2.dtypes

Patient_ID             int64
Health_Camp_ID         int64
Registration_Date     object
Var1                   int64
Var2                   int64
Var3                   int64
Var4                   int64
Var5                   int64
outcome              float64
Camp_Start_Date       object
Camp_End_Date         object
Category1             object
Category2             object
Category3              int64
Online_Follower        int64
LinkedIn_Shared        int64
Twitter_Shared         int64
Facebook_Shared        int64
First_Interaction     object
dtype: object

In [ ]:
train2["Registration_Date"]=pd.DatetimeIndex(train2["Registration_Date"])
train2["Camp_Start_Date"]=pd.DatetimeIndex(train2["Camp_Start_Date"])
train2["Camp_End_Date"]=pd.DatetimeIndex(train2["Camp_End_Date"])
train2["First_Interaction"]=pd.DatetimeIndex(train2["First_Interaction"])

In [ ]:
train2["Var"]=train2["Var1"]*train2["Var2"]*train2["Var3"]*train2["Var4"]*train2["Var5"]

In [ ]:
train2["total_Share"]=train2.LinkedIn_Shared+train2.Twitter_Shared+train2.Facebook_Shared

In [ ]:
train2.drop(["LinkedIn_Shared","Twitter_Shared","Facebook_Shared"],inplace=True,axis=1)

In [ ]:
train2.drop(["Patient_ID","Health_Camp_ID"],axis=1,inplace=True)

In [ ]:
train2["duaration"]=(train2["Camp_End_Date"]-train2["Camp_Start_Date"]).dt.days

In [ ]:
train2

      Registration_Date  Var1  Var2  ...  Var  total_Share  duaration
0            2005-09-10     4     0  ...    0            0         59
1            2005-05-01     0     0  ...    0            0         13
2            2005-05-08     0     0  ...    0            0         39
3            2004-12-06     0     0  ...    0            0        189
4            2005-11-26     4     0  ...    0            0        771
...                 ...   ...   ...  ...  ...          ...        ...
75273        2004-05-03     0     0  ...    0            0          5
75274        2004-05-02     0     0  ...    0            0          5
75275        2004-05-03     0     0  ...    0            0          5
75276        2004-05-01     0     0  ...    0            0          5
75277        2004-05-01     0     0  ...    0            0          5

[75278 rows x 17 columns]

In [ ]:
train2.dropna(subset=["Registration_Date"],inplace=True)

In [ ]:
train2

      Registration_Date  Var1  Var2  ...  Var  total_Share  duaration
0            2005-09-10     4     0  ...    0            0         59
1            2005-05-01     0     0  ...    0            0         13
2            2005-05-08     0     0  ...    0            0         39
3            2004-12-06     0     0  ...    0            0        189
4            2005-11-26     4     0  ...    0            0        771
...                 ...   ...   ...  ...  ...          ...        ...
75273        2004-05-03     0     0  ...    0            0          5
75274        2004-05-02     0     0  ...    0            0          5
75275        2004-05-03     0     0  ...    0            0          5
75276        2004-05-01     0     0  ...    0            0          5
75277        2004-05-01     0     0  ...    0            0          5

[74944 rows x 17 columns]

In [ ]:
train2["dayofweek"]=(train2["Registration_Date"]).dt.dayofweek

In [ ]:
train2["month"]=(train2["Registration_Date"]).dt.month

In [ ]:
train2["weekend"]=train2["dayofweek"].map({5:1,6:1,4:0,3:0,2:0,1:0,0:0})

In [ ]:
train2["Day"]=train2["Registration_Date"].dt.day

In [ ]:
train2["dayofyear"]=(train2["Registration_Date"]).dt.dayofyear

In [ ]:
train2["Week"]=(train2["Registration_Date"]).dt.week

In [ ]:
train2["is_month_start"]=(train2["Registration_Date"]).dt.is_month_start

In [ ]:
train2["is_month_end"]=(train2["Registration_Date"]).dt.is_month_end

In [ ]:
train2["weekday"]=train2["dayofweek"].map({5:0,6:0,4:1,3:1,2:1,1:1,0:1})

In [ ]:
train2["Is_year_start"]=(train2["Registration_Date"]).dt.is_year_start

In [ ]:
train2["Is_year_end"]=(train2["Registration_Date"]).dt.is_year_end

In [ ]:
train2["days_in_month"]=(train2["Registration_Date"]).dt.days_in_month

In [ ]:
train2["camp_start_month"]=(train2["Camp_Start_Date"]).dt.month

In [ ]:
train2

      Registration_Date  Var1  ...  days_in_month  camp_start_month
0            2005-09-10     4  ...             30                 8
1            2005-05-01     0  ...             31                 7
2            2005-05-08     0  ...             31                 6
3            2004-12-06     0  ...             31                 8
4            2005-11-26     4  ...             30                 9
...                 ...   ...  ...            ...               ...
75273        2004-05-03     0  ...             31                 4
75274        2004-05-02     0  ...             31                 4
75275        2004-05-03     0  ...             31                 4
75276        2004-05-01     0  ...             31                 4
75277        2004-05-01     0  ...             31                 4

[74944 rows x 30 columns]

In [ ]:
train2["camp_start_dayofweek"]=(train2["Camp_Start_Date"]).dt.dayofweek
train2["camp_start_days_in_month"]=(train2["Camp_Start_Date"]).dt.days_in_month
train2["camp_start_weekend"]=train2["dayofweek"].map({5:1,6:1,4:0,3:0,2:0,1:0,0:0})
train2["camp_start_Day"]=train2["Camp_Start_Date"].dt.day
train2["camp_start_dayofyear"]=(train2["Camp_Start_Date"]).dt.dayofyear
train2["camp_start_Week"]=(train2["Camp_Start_Date"]).dt.week
train2["camp_start_is_month_start"]=(train2["Camp_Start_Date"]).dt.is_month_start
train2["camp_start_is_month_end"]=(train2["Camp_Start_Date"]).dt.is_month_end
train2["camp_start_weekday"]=train2["dayofweek"].map({5:0,6:0,4:1,3:1,2:1,1:1,0:1})
train2["camp_start_Is_year_start"]=(train2["Camp_Start_Date"]).dt.is_year_start
train2["camp_start_Is_year_end"]=(train2["Camp_Start_Date"]).dt.is_year_end

In [ ]:
train2["camp_end_month"]=(train2["Camp_End_Date"]).dt.month

In [ ]:
train2["camp_end_dayofweek"]=(train2["Camp_End_Date"]).dt.dayofweek
train2["camp_end_days_in_month"]=(train2["Camp_End_Date"]).dt.days_in_month
train2["camp_end_weekend"]=train2["dayofweek"].map({5:1,6:1,4:0,3:0,2:0,1:0,0:0})
train2["camp_end_Day"]=train2["Camp_End_Date"].dt.day
train2["camp_end_dayofyear"]=(train2["Camp_End_Date"]).dt.dayofyear
train2["camp_end_Week"]=(train2["Camp_End_Date"]).dt.week
train2["camp_end_is_month_start"]=(train2["Camp_End_Date"]).dt.is_month_start
train2["camp_end_is_month_end"]=(train2["Camp_End_Date"]).dt.is_month_end
train2["camp_end_weekday"]=train2["dayofweek"].map({5:0,6:0,4:1,3:1,2:1,1:1,0:1})
train2["camp_end_Is_year_start"]=(train2["Camp_End_Date"]).dt.is_year_start
train2["camp_end_Is_year_end"]=(train2["Camp_End_Date"]).dt.is_year_end

In [ ]:
train2["first_interaction_month"]=(train2["First_Interaction"]).dt.month

In [ ]:
train2["first_inter_dayofweek"]=(train2["First_Interaction"]).dt.dayofweek
train2["first_inter_days_in_month"]=(train2["First_Interaction"]).dt.days_in_month
train2["first_inter_weekend"]=train2["dayofweek"].map({5:1,6:1,4:0,3:0,2:0,1:0,0:0})
train2["first_inter_Day"]=train2["First_Interaction"].dt.day
train2["first_inter_dayofyear"]=(train2["First_Interaction"]).dt.dayofyear
train2["first_inter_Week"]=(train2["First_Interaction"]).dt.week
train2["first_inter_is_month_start"]=(train2["First_Interaction"]).dt.is_month_start
train2["first_inter__is_month_end"]=(train2["First_Interaction"]).dt.is_month_end
train2["first_inter__weekday"]=train2["dayofweek"].map({5:0,6:0,4:1,3:1,2:1,1:1,0:1})
train2["first_inter__Is_year_start"]=(train2["First_Interaction"]).dt.is_year_start
train2["first_inter__Is_year_end"]=(train2["First_Interaction"]).dt.is_year_end

In [ ]:
train2

      Registration_Date  ...  first_inter__Is_year_end
0            2005-09-10  ...                     False
1            2005-05-01  ...                     False
2            2005-05-08  ...                     False
3            2004-12-06  ...                     False
4            2005-11-26  ...                     False
...                 ...  ...                       ...
75273        2004-05-03  ...                     False
75274        2004-05-02  ...                     False
75275        2004-05-03  ...                     False
75276        2004-05-01  ...                     False
75277        2004-05-01  ...                     False

[74944 rows x 65 columns]

In [ ]:
train2.drop(["Registration_Date","Camp_Start_Date","Camp_End_Date","First_Interaction"],axis=1,inplace=True)

In [ ]:
y=train2.pop("outcome")

In [ ]:
train2["outcome"]=y

In [ ]:
train=train2

In [ ]:
train.drop(["outcome"],axis=1,inplace=True)

In [ ]:
train

       Var1  Var2  ...  first_inter__Is_year_start  first_inter__Is_year_end
0         4     0  ...                       False                     False
1         0     0  ...                       False                     False
2         0     0  ...                       False                     False
3         0     0  ...                       False                     False
4         4     0  ...                       False                     False
...     ...   ...  ...                         ...                       ...
75273     0     0  ...                       False                     False
75274     0     0  ...                       False                     False
75275     0     0  ...                       False                     False
75276     0     0  ...                       False                     False
75277     0     0  ...                       False                     False

[74944 rows x 60 columns]

In [ ]:
test=pd.read_csv("/content/test (2).csv")

In [ ]:
test.drop(["Unnamed: 0"],axis=1,inplace=True)

In [ ]:
test

       Var1  Var2  ...  first_inter__Is_year_start  first_inter__Is_year_end
0         1     0  ...                       False                     False
1         1     0  ...                       False                     False
2         1     0  ...                       False                     False
3         1     0  ...                       False                     False
4         1     0  ...                       False                     False
...     ...   ...  ...                         ...                       ...
35244     0     0  ...                       False                     False
35245     0     0  ...                       False                     False
35246     0     0  ...                       False                     False
35247     0     0  ...                       False                     False
35248     0     0  ...                       False                     False

[35249 rows x 60 columns]

In [ ]:
data=pd.concat([train,test],ignore_index=True)

In [ ]:
data

        Var1  Var2  ...  first_inter__Is_year_start  first_inter__Is_year_end
0          4     0  ...                       False                     False
1          0     0  ...                       False                     False
2          0     0  ...                       False                     False
3          0     0  ...                       False                     False
4          4     0  ...                       False                     False
...      ...   ...  ...                         ...                       ...
110188     0     0  ...                       False                     False
110189     0     0  ...                       False                     False
110190     0     0  ...                       False                     False
110191     0     0  ...                       False                     False
110192     0     0  ...                       False                     False

[110193 rows x 60 columns]

In [ ]:
train2["outcome"]=y

In [ ]:
train2

       Var1  Var2  ...  first_inter__Is_year_end  outcome
0         4     0  ...                     False      1.0
1         0     0  ...                     False      0.0
2         0     0  ...                     False      1.0
3         0     0  ...                     False      0.0
4         4     0  ...                     False      0.0
...     ...   ...  ...                       ...      ...
75273     0     0  ...                     False      1.0
75274     0     0  ...                     False      0.0
75275     0     0  ...                     False      0.0
75276     0     0  ...                     False      0.0
75277     0     0  ...                     False      0.0

[74944 rows x 61 columns]

In [ ]:
df=pd.get_dummies(data,columns=["is_month_start","is_month_end","Is_year_start","Is_year_end","camp_start_is_month_start","camp_start_is_month_end","camp_start_Is_year_start","camp_start_Is_year_end","camp_end_is_month_start","camp_end_is_month_end","camp_end_Is_year_start","camp_end_Is_year_end","first_inter_is_month_start","first_inter__is_month_end","first_inter__Is_year_start","first_inter__Is_year_end"])

In [ ]:
df

        Var1  ...  first_inter__Is_year_end_True
0          4  ...                              0
1          0  ...                              0
2          0  ...                              0
3          0  ...                              0
4          4  ...                              0
...      ...  ...                            ...
110188     0  ...                              0
110189     0  ...                              0
110190     0  ...                              0
110191     0  ...                              0
110192     0  ...                              0

[110193 rows x 71 columns]

In [ ]:
std_encoding=train2.groupby(['Category1']).agg({'outcome':['std']}).reset_index()
df = df.merge(std_encoding,on='Category1',how="left")
df.rename(columns={('outcome', 'std'):"Category1_std"},inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [ ]:
std_encoding=train2.groupby(['Category2']).agg({'outcome':['std']}).reset_index()
df = df.merge(std_encoding,on='Category2',how="left")
df.rename(columns={('outcome', 'std'):"Category2_std"},inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [ ]:
df.drop(["Category1","Category2"],axis=1,inplace=True)

In [ ]:
df

        Var1  Var2  ...  Category1_std  Category2_std
0          4     0  ...       0.481674       0.481674
1          0     0  ...       0.329790       0.304758
2          0     0  ...       0.481674       0.481674
3          0     0  ...       0.329790       0.327066
4          4     0  ...       0.329790       0.327066
...      ...   ...  ...            ...            ...
110188     0     0  ...       0.329790       0.480273
110189     0     0  ...       0.329790       0.480273
110190     0     0  ...       0.329790       0.480273
110191     0     0  ...       0.329790       0.480273
110192     0     0  ...       0.329790       0.480273

[110193 rows x 71 columns]

In [ ]:
train=df[:74944]

In [ ]:
test=df[74944:]

In [ ]:
test

        Var1  Var2  ...  Category1_std  Category2_std
74944      1     0  ...       0.481674       0.481674
74945      1     0  ...       0.329790       0.327066
74946      1     0  ...       0.499860       0.496017
74947      1     0  ...       0.329790       0.304758
74948      1     0  ...       0.329790       0.304758
...      ...   ...  ...            ...            ...
110188     0     0  ...       0.329790       0.480273
110189     0     0  ...       0.329790       0.480273
110190     0     0  ...       0.329790       0.480273
110191     0     0  ...       0.329790       0.480273
110192     0     0  ...       0.329790       0.480273

[35249 rows x 71 columns]

In [ ]:
test.to_csv("test_prediction.csv")

In [ ]:
train["outcome"]=y

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
train.to_csv("train_prediction.csv")

In [ ]:
len(y)

74944

In [ ]:
train.drop(["outcome"],axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
sub=pd.read_csv("/content/sample_submmission.csv")

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.5040681110746444

In [ ]:
from sklearn.svm import LinearSVC
lr=LinearSVC()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.7335546680184182

In [ ]:
svm=LinearSVC()
svm.fit(train,y)
predict=svm.predict(test)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [ ]:
sub["Outcome"]=predict

In [ ]:
sub.to_csv("sub1.csv",index=False)

In [ ]:
from sklearn.linear_model import SGDClassifier
lr=SGDClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.48300470114986255

In [ ]:
sgd=SGDClassifier()
sgd.fit(train,y)
predict=sgd.predict(test)
sub["Outcome"]=predict
sub.to_csv("sub2.csv",index=False)

In [ ]:
from sklearn.neural_network import MLPClassifier
lr=MLPClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.7681908805395699

In [ ]:
mlp=MLPClassifier()
mlp.fit(train,y)
predict=mlp.predict(test)
sub["Outcome"]=predict
sub.to_csv("sub3.csv",index=False)

In [ ]:
from xgboost import XGBClassifier
lr=XGBClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.7761803785884939

In [ ]:
xgb=XGBClassifier()
xgb.fit(train,y)
predict=xgb.predict(test)
sub["Outcome"]=predict
sub.to_csv("sub3.csv",index=False)

In [ ]:
from lightgbm import LGBMClassifier
lr=LGBMClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.7704090995640941

In [ ]:
xgb=LGBMClassifier()
xgb.fit(train,y)
predict=xgb.predict(test)
sub["Outcome"]=predict
sub.to_csv("sub4.csv",index=False)

In [ ]:
from sklearn.ensemble import BaggingClassifier
lr=BaggingClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.697578708447292

In [ ]:
from sklearn.naive_bayes import GaussianNB
lr=GaussianNB()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.5195457666452584

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
lr=GradientBoostingClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.7783132516223669

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
lr=AdaBoostClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.7669059932338748

In [ ]:
from sklearn.linear_model import RidgeClassifier
lr=RidgeClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.7767068042428894

In [ ]:
from sklearn.ensemble import RandomForestClassifier
lr=RandomForestClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()